<!DOCTYPE html>

<html lang="en">
<head>
  <title>MR</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<header>
  <% include ../partials/nav %>
</header>

<div class="bgimg">
  <img src="/images/temp.jpg"/>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
  </div>
</div>

    <% include ../partials/footer %>
</body>
</html>
